.type-icon {
  color: #757575;
  margin-right: 5px;
}


mat-tree{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  border-width: 2px;
  border-color: #888888;
  background-color: #888888;

}

mat-tree-node{
  width: 100%;
}

mat-nested-tree-node{
  width: 80%;
}

.AddMarkButton{
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #888888;
}



.mat-button-focus-overlay {
  background-color:transparent;
}
