.full-width-table {
  width: 100%;
}

.mat-elevation-z8{
  width: 200%;
}

button{
  width: 100%;
  margin-left: 50%;
}

.Choose{
width: 80%;
margin-left: 60%;
}


.Choose button{
  margin: 0;
  width: 50%;
}

.Choose mat-form-field{
  margin-left: 15%;
}


